<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.srobinson24.sandbox.tradeskillmaster"/>
    <context:annotation-config/>

    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean"/>

    <bean id="saveFile" class="java.io.File">
            <constructor-arg value="${save.file}"/>
    </bean>

    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="false" />
        <property name="ignoreResourceNotFound" value="false" />
        <property name="localOverride" value="false" />
        <property name="locations">
            <list>
                <value>properties/application.properties</value>
            </list>
        </property>
    </bean>

</beans>